 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1364px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1100px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 1364px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .rectangle.rectangle-1 {
   background: #0f5069;
 }
 #absolute-wrapper .rectangle.rectangle-2 {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 #absolute-wrapper .rectangle.rectangle-3 {
   border-radius: 0px;
 }
 #absolute-wrapper .rectangle {
   border: none;
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-4 {
   -moz-box-shadow: 2px 0px 15px 0px #000000;
   -webkit-box-shadow: 2px 0px 15px 0px #000000;
   -o-box-shadow: 2px 0px 15px 0px #000000;
   box-shadow: 2px 0px 15px 0px #000000;
 }
 #absolute-wrapper .rectangle.rectangle-5 {
   -moz-box-shadow: inset -2px 0px 5px 0px #000000;
   -webkit-box-shadow: inset -2px 0px 5px 0px #000000;
   -o-box-shadow: inset -2px 0px 5px 0px #000000;
   box-shadow: inset -2px 0px 5px 0px #000000;
   border-radius: 7px;
 }
 #absolute-wrapper .rectangle.rectangle-6 {
   background: #000000;
 }
 #absolute-wrapper .rectangle.rectangle-7 {
   width: 1374px;
   height: 956px;
   top: 106px;
   left: -6px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 {
   background: #ffffff;
   width: 929px;
   height: 372px;
   top: 22px;
   left: 233px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-9 {
   background: #377525;
   width: 522px;
   height: 94px;
   top: 21px;
   left: 375px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-9 .paragraph {
   width: 93px;
   height: 28px;
   position: absolute;
   top: 7px;
   left: 18px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-9 .paragraph p {
   text-align: center;
   font-family:"federo";
   font-weight: bold;
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-9 .btn-primary {
   width: 108px;
   height: 37px;
   position: absolute;
   top: 40px;
   left: 217px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-9 input.textinput {
   width: 136px;
   height: 21px;
   position: absolute;
   top: 42px;
   left: 51px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 {
   background: #1f1d64;
   width: 519px;
   height: 98px;
   top: 127px;
   left: 377px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 .paragraph {
   width: 146px;
   height: 28px;
   position: absolute;
   top: 7px;
   left: 14px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 .paragraph p {
   text-align: center;
   font-family:"federo";
   font-weight: bold;
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 .btn-primary {
   width: 108px;
   height: 37px;
   position: absolute;
   top: 41px;
   left: 384px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 select {
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 select.select-1 {
   width: 135px;
   height: 36px;
   top: 41px;
   left: 234px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-10 select.select-2 {
   width: 170px;
   height: 34px;
   top: 42px;
   left: 48px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph.paragraph-1 {
   height: 28px;
   top: 7px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph {
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph.paragraph-2 {
   height: 23px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph.paragraph-3 {
   top: 53px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph.paragraph-4 {
   width: 266px;
   height: 98px;
   top: 138px;
   left: 35px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .paragraph.paragraph-4 p {
   font-family:"federo";
   font-size: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 {
   background: #7d1818;
   width: 518px;
   height: 95px;
   top: 238px;
   left: 379px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-2.paragraph-5 {
   width: 139px;
   top: 9px;
   left: 15px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-2.paragraph-5 p {
   font-family:"federo";
   font-weight: bold;
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .btn-primary {
   width: 108px;
   height: 37px;
   position: absolute;
   top: 42px;
   left: 397px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 input.textinput {
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 input.textinput.textinput-1 {
   width: 129px;
   height: 25px;
   top: 43px;
   left: 245px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 input.textinput.textinput-2 {
   width: 128px;
   height: 24px;
   top: 44px;
   left: 74px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-3.paragraph-6 {
   width: 16px;
   height: 21px;
   left: 223px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-3.paragraph-6 p {
   text-align: center;
   font-family:"federo";
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-2.paragraph-3 {
   width: 37px;
   left: 30px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-8 .rectangle.rectangle-5.rectangle-11 .paragraph.paragraph-2.paragraph-3 p {
   font-family:"federo";
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-12 {
   width: 10px;
   height: 402px;
   top: 10px;
   left: 569px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-13 {
   width: 289px;
   height: 61px;
   top: 52px;
   left: 193px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-13 .paragraph {
   width: 202px;
   height: 30px;
   position: absolute;
   top: 20px;
   left: 55px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-13 .paragraph p {
   text-align: center;
   color: #ffffff;
   font-size: 30px;
   font-family:"federo";
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-14 {
   background: #d2acf9;
   width: 1202px;
   height: 539px;
   top: 384px;
   left: 89px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-7 .rectangle.rectangle-3.rectangle-4.rectangle-14 div {
   width: 1115px;
   height: 450px;
   position: absolute;
   top: 32px;
   left: 45px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 {
   width: 1378px;
   height: 110px;
   top: 0px;
   left: -2px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .heading {
   font-family:"oswald";
   font-weight: normal;
   font-size: 40pt;
   color: #42beff;
   width: 269px;
   height: 49px;
   position: absolute;
   top: 26px;
   left: 108px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .navbar.navbar-inverse {
   width: 472px;
   height: 48px;
   position: absolute;
   top: 40px;
   left: 853px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .navbar.navbar-inverse .navbar-inner {
   background: #000000;
   border-radius: 0px;
   border: 1px solid #000000;
   height: 48px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .navbar.navbar-inverse .responsive-container .nav-collapse.collapse .nav li a {
   font-family:"trebuchet ms";
   font-size: 20px;
   color: #fff275;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .paragraph {
   width: 279px;
   height: 29px;
   position: absolute;
   top: 71px;
   left: 109px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-15 .paragraph p {
   font-family:"droid sans";
   font-size: 14pt;
   color: #ffffff;
   line-height: 29px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-16 {
   width: 1383px;
   height: 46px;
   top: 1056px;
   left: -9px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-16 .paragraph {
   width: 200px;
   height: 23px;
   position: absolute;
   top: 12px;
   left: 588px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6.rectangle-16 .paragraph p {
   text-align: center;
   color: #ffffff;
 }