 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 700px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 #absolute-wrapper .image.image-1 {
   width: 174px;
   height: 144px;
   top: -8px;
   left: 751px;
 }
  #absolute-wrapper .image.image-2 {
   width: 439px;
   height: 446px;
   top: 12px;
   left: 756px;
 }
  #absolute-wrapper .image.image-3 {
   width: 522px;
   height: 224px;
   top: 484px;
   left: -26px;
 }
 #absolute-wrapper .icon.icon-home {
   font-size: 52px;
   height: 52px;
   width: 56px;
   position: absolute;
   top: 40px;
   left: 271px;
 }
 #absolute-wrapper .hero-unit {
   position: absolute;
 }
 #absolute-wrapper .hero-unit.hero-unit-1 {
   background: #3b0f68;
   width: 634px;
   height: 357px;
   top: 99px;
   left: 224px;
 }
 #absolute-wrapper .hero-unit.hero-unit-2 {
   background: #ffffff;
   width: 528px;
   height: 106px;
   top: 149px;
   left: 278px;
 }
 #absolute-wrapper .hero-unit.hero-unit-2 p {
   font-family:"limelight";
   font-size: 20px;
   color: #000000;
 }
 #absolute-wrapper .btn {
   background: #3ccbf7;
   font-size: 17px;
   font-family:"limelight";
   width: 209px;
   height: 51px;
   position: absolute;
 }
 #absolute-wrapper .btn.btn-1 {
   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.980392);
   -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.980392);
   -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.980392);
   box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.980392);
   top: 415px;
 }
 #absolute-wrapper .btn.btn-2 {
   left: 367px;
 }
 #absolute-wrapper .btn.btn-3 {
   left: 643px;
 }
 #absolute-wrapper .btn.btn-4 {
   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.992157);
   -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.992157);
   -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.992157);
   box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), -1px 2px 2px 0px rgba(0, 0, 0, 0.992157);
 }
 #absolute-wrapper .btn-3.btn-4 {
   top: 481px;
 }
 #absolute-wrapper .btn-2.btn-4 {
   top: 482px;
 }