 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1364px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 705px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 1364px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .rectangle.rectangle-1 {
   background: #000000;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 #absolute-wrapper .rectangle.rectangle-2 {
   border-radius: 0px;
 }
 #absolute-wrapper .rectangle {
   border: none;
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-3 {
   width: 1378px;
   height: 110px;
   top: 0px;
   left: -2px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .heading {
   font-family:"oswald";
   font-weight: normal;
   font-size: 40pt;
   color: #42beff;
   width: 269px;
   height: 49px;
   position: absolute;
   top: 26px;
   left: 108px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .navbar.navbar-inverse {
   width: 472px;
   height: 48px;
   position: absolute;
   top: 40px;
   left: 853px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .navbar.navbar-inverse .navbar-inner {
   background: #000000;
   border-radius: 0px;
   border: 1px solid #000000;
   height: 48px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .navbar.navbar-inverse .responsive-container .nav-collapse.collapse .nav li a {
   font-family:"trebuchet ms";
   font-size: 20px;
   color: #fff275;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .paragraph {
   width: 279px;
   height: 29px;
   position: absolute;
   top: 71px;
   left: 109px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3 .paragraph p {
   font-family:"droid sans";
   font-size: 14pt;
   color: #ffffff;
   line-height: 29px;
 }
 #absolute-wrapper .rectangle.rectangle-4 {
   background: #3b0f68;
   -moz-box-shadow: 2px 0px 15px 0px #000000;
   -webkit-box-shadow: 2px 0px 15px 0px #000000;
   -o-box-shadow: 2px 0px 15px 0px #000000;
   box-shadow: 2px 0px 15px 0px #000000;
   border-radius: 5px;
   width: 809px;
   height: 479px;
   top: 151px;
   left: 288px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .paragraph {
   position: absolute;
   top: 30px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .paragraph.paragraph-1 {
   width: 168px;
   height: 30px;
   left: 581px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .paragraph.paragraph-1 p {
   font-family:"arial black";
   font-weight: bold;
   font-size: 30px;
   color: #ffd4d4;
 }
 #absolute-wrapper .rectangle.rectangle-4 .paragraph.paragraph-2 {
   width: 146px;
   height: 31px;
   left: 425px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .paragraph.paragraph-2 p {
   font-size: 30px;
   font-weight: bold;
   font-family:"arial black";
   color: #92ff3e;
 }
 #absolute-wrapper .rectangle.rectangle-4 .hero-unit {
   background: #ffffff;
   width: 531px;
   height: 94px;
   position: absolute;
   top: 80px;
   left: 78px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .hero-unit p {
   font-family:"arial black";
   font-size: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn {
   background: #42beff;
   font-size: 20px;
   -moz-box-shadow: inset 0px 0px 0px 0px rgba(204, 113, 113, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: inset 0px 0px 0px 0px rgba(204, 113, 113, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: inset 0px 0px 0px 0px rgba(204, 113, 113, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: inset 0px 0px 0px 0px rgba(204, 113, 113, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.0470588);
   color: #000000;
   font-weight: bold;
   font-family:"arial black";
   width: 223px;
   height: 54px;
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn.btn-1 {
   top: 323px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn.btn-2 {
   left: 423px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn-1.btn-3 {
   left: 166px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn-2.btn-4 {
   top: 393px;
 }
 #absolute-wrapper .rectangle.rectangle-4 .btn.btn-5 {
   top: 394px;
   left: 167px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-5 {
   background: #ff7af8;
   -moz-box-shadow: 0px -1px 4px 0px #fff0f0;
   -webkit-box-shadow: 0px -1px 4px 0px #fff0f0;
   -o-box-shadow: 0px -1px 4px 0px #fff0f0;
   box-shadow: 0px -1px 4px 0px #fff0f0;
   width: 287px;
   height: 44px;
   top: 130px;
   left: 351px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-5 .paragraph {
   width: 285px;
   height: 24px;
   position: absolute;
   top: 11px;
   left: -1px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-5 .paragraph p {
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   color: #000000;
   font-family:"trebuchet ms";
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 /*science*/
 #absolute-wrapper .image.image-1 {
   width: 281px;
   height: 320px;
   top: 326px;
   left: -1px;
 }
  #absolute-wrapper .image.image-2 {
   width: 378px;
   height: 193px;
   top: 464px;
   left: 1005px;
 }
 /*general knowledge*/
  #absolute-wrapper .image.image-3 {
   width: 508px;
   height: 499px;
   top: -7px;
   left: -84px;
 }
 #absolute-wrapper .image.image-4 {
   width: 479px;
   height: 415px;
   top: 108px;
   left: 885px;
 }
 #absolute-wrapper .image.image-5 {
   width: 284px;
   height: 173px;
   top: 485px;
   left: -7px;
 }
 /*mathematics*/
  #absolute-wrapper .image.image-6 {
   width: 675px;
   height: 498px;
   top: 88px;
   left: 830px;
 }
 /*english*/
  #absolute-wrapper .image.image-8 {
   width: 383px;
   height: 385px;
   top: 281px;
   left: 1102px;
 }
 #absolute-wrapper .image.image-7 {
   width: 258px;
   height: 244px;
   top: 417px;
   left: 4px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-6 {
   width: 1383px;
   height: 46px;
   top: 660px;
   left: -13px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-6 .paragraph {
   width: 200px;
   height: 23px;
   position: absolute;
   top: 11px;
   left: 591px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-6 .paragraph p {
   text-align: center;
   color: #ffffff;
 }